<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOS Fithub | Trainer Dashboard</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/show-users-buyed-plan.css" type="text/css">
</head>

<body onload="display()">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <%- include('t_header') %>

<!-- Header End -->


    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg" style="height: fit-content;">
                
            </div>
           
        </div>
    </section>

    <div class="container1">
        <h1 class="heading">Users who Bought the Plan</h1>
        
        <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
                <div class="user-card">
                    <h3>Name: <%= user.name %></h3>
                    <p>Email: <%= user.email %></p>
                    
                    <!-- Display all purchased plans for this user -->
                    <h3>Purchased Plans:</h3>
                    <ul class="purchased-plans">
                        <% user.purchasedPlans.forEach(plan => { %>
                            <li class="plan-card">
                                <p>Plan Name: <%= plan.name %></p>
                                <p>Price: $<%= plan.price %></p>
                                <!-- Add other plan details you want to display -->
                            </li>
                        <% }) %>
                    </ul>

                    <!-- Contact User Button -->
                    <button class="contact-user-btn" onclick="contactUser('<%= user.email %>')">Contact User</button>
                    <button class="contact-user-btn" onclick="addProgress1()">Show Progress</button>

                </div>
            <% }) %>
        <% } else { %>
            <p>No users found who bought the plan.</p>
        <% } %>
    </div>
    <%- include('footer') %>

    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
   
<script language ="javascript" type="text/javascript">
function display()
{
    document.addEventListener('contextmenu',event=>event.preventDefault());
    
    // Access the username element by its ID
   var usernameElement = document.getElementById('username');

    // Set the inner HTML of the username element
    usernameElement.innerHTML = 'yash';

    // Retrieve and log the updated text
    var updatedUsername = usernameElement.innerHTML;
    console.log('Username:', updatedUsername);
}


 const currentPort = window.location.port;
        
        if (currentPort !== '4000') {
            // Hide the element if the port is not 4000
            const logElement = document.getElementById('log');
            logElement.style.display = 'none';
        }
</script>
<script>
    function contactUser(email) {
        // Implement your logic to handle contacting the user
        alert('Contacting user with email: ' + email);
    }
    function addProgress1() {
            // Add logic to handle adding progress for the plan
            window.location.href = '/user-progress';        }
</script>
</body>

</html>
<!-- views/show-users-buyed-plan.ejs -->
